<%= form_for ([@conversation, @message]), :url => { :action => "update" } do |f| %>

<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-9 columns">
        <%= f.label :edit %> <br />
          <div class="field">
            <%= f.text_field :post %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <div class="small-9 columns">
        <div class="edit_message">
          <%= f.submit 'Edit your message', class: 'btn-style' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <div class="row">
      <div class="small-9 columns">
        <div class="delete_message">
          <%= button_to 'Delete message', conversation_message_path(@conversation.id, @message), class: 'btn-style', method: 'delete', data: { confirm: 'Are you sure you want to delete your post?' } %>
        </div>
      </div>
    </div>
  </div>
