<% if params[:message_id] != nil %>

    <%= form_tag conversation_message_messages_path do %>

    <% if @message.errors.any? %>
      <div id="error_explanation">
        <h2><%= "#{@message.errors.count} error(s) prevented the post from being saved" %></h2>
        <ul>
          <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-9 columns">
          <label for="post">Message</label>
            <div class="field">
              <%= text_field_tag :post %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <div class="row">
        <div class="small-9 columns">
          <%= submit_tag 'Post your thoughts', class: 'btn-style' %>
        </div>
      </div>
    </div>
    <% end %>

<% else %>

  <%= form_tag conversation_messages_path do %>

    <% if @message.errors.any? %>
      <div id="error_explanation">
        <h2><%= "#{@message.errors.count} error(s) prevented the post from being saved" %></h2>
          <ul>
            <% @message.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>


    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-9 columns">
            <label for="post">Message</label>
            <div class="field">
              <%= text_field_tag :post %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="actions">
    <div class="row">
      <div class="small-9 columns">
        <%= submit_tag 'Post your thoughts', class: 'btn-style' %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
