<%= form_for (@conversation), :url => { :action => "update" } do |f| %>

<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>

<%= button_to 'Delete conversation', conversation_path(@conversation), method: 'delete', data: { confirm: 'Are you sure? This will also erase all posts' } %>
