<h1>Announcements</h1>
<% @announcements.each do |announcement| %>
<ul>
  <li><h3><%= announcement.post %></h3></li>
  <li><h4><%= announcement.user.user_name %></h4></li>
  <li><h5><%= announcement.created_at %></h5></li>
</ul>
<% end %>

<h2>Conversations</h2>
<% @conversations.each do |conversation| %>
<ul>
  <li><%= link_to conversation.title, conversation_path(conversation) %></a></li>
  <% if !conversation.messages.empty? %>
    <li><%= conversation.messages.first.post %>
    <li><%= conversation.messages.first.user.user_name %></li>
    <li><%= conversation.messages.first.created_at %></li>
    <% else %>
    <i>No one is chatting....yet</i>
  <% end %>
</ul>
<% end %>

<div>
<a href="<%= new_conversation_path %>">Start a new conversation </a>
</div>

<div>
<% unless current_user.blank? %>
  <% if current_user.admin? %>
    <a href="<%= new_admin_message_path %>">Make a new announcement </a>
  <% end %>
<% end %>
</div>

<% unless @parents.empty? %>
  <div>
    <h3>What are people talking about?</h3>
  </div>
    <% @parents.each do |parent| %>
    <ul>
      <li><%= parent.replies.count %> replies to <a href="<%= conversation_path(parent.conversation_id) %>"> <%= parent.post %></a></li>
    </ul>
    <% end %>
<% end %>

<% unless @hashtags.empty? %>
  <div>
    <h3>Topics</h3>
  </div>
  <% @hashtags.each do |t| %>
  <% binding.pry %>
  <ul>
    <li><%= t.hashtag_keyword %></li>
  </ul>
  <% end %>
<% end %>
