<% unless @announcements.empty? %>
  <div class="row">
    <div class="large-12 centered-columns panel">
      <h1 class="text-center" id="announcement">Announcements</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 centered-columns panel">
      <% @announcements.each do |announcement| %>
        <ul>
          <li><h2 class="text-center"><%= announcement.post %></h2></li>
          <li><h4 class="text-center"><%= announcement.user.user_name %></h4></li>
          <li><h5 class="text-center"><%= announcement.created_at.strftime("%b %e, %l:%M %p") %></h5></li>
        </ul>
      <% end %>

  <% unless current_user.blank? %>
    <% if current_user.id == announcement.user.id %>
      <div style="float:right;">
        <%= button_to "Edit post", edit_admin_message_path(announcement.id), :method => :get, class: 'btn-style' %>
      </div>
      <div style="float:right;">
        <%= button_to "Delete post", edit_admin_message_path(announcement.id), :method => :get, class: 'btn-style' %>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
</div>

<div>
  <div class="heading">
    <h2>Conversations</h2>
  </div>
</div>

<div>
  <ul class="small-block-grid-2">
    <li><%= button_to "Start a new conversation", new_conversation_path, :method => :get, class: 'btn-style' %></li>
    <% unless current_user.blank? %>
      <% if current_user.admin? %>
        <li><%= button_to "Create a new announcement", new_admin_message_path, :method => :get, class: 'btn-style' %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="large-3 columns">
  <% @conversations.each do |conversation| %>
    <ul>
      <li class="post"><%= link_to conversation.title, conversation_path(conversation) %></li>
        <% if !conversation.messages.empty? %>
          <li><%= conversation.messages.first.post %>
          <li><%= conversation.messages.first.user.user_name %></li>
          <li><%= conversation.messages.first.created_at.strftime("%b %e, %l:%M %p") %></li>
        <% else %>
          <i>No one is chatting....yet</i>
        <% end %>
    </ul>
  <% end %>


<% unless @parents.empty? %>
  <div class="large-3 columns panel">
  <h3>Popular posts</h3>
  <% @parents.each do |parent| %>
    <% replies = parent.reply_count %>
      <ul>
        <li><a href="<%= conversation_path(parent.conversation_id) %>"><%= parent.post %> (<%= parent.replies.count %>)</a></li>
      </ul>
  <% end %>
<% end %>


<% unless @hashtags.empty? %>
  <div class="large-3 columns panel">
    <h3>Tagged posts</h3>
      <% @hashtags.each do |h| %>
        <ul>
          <li><a href="<%= hashtag_path(h.id) %>"><%= h.hashtag_keyword %></a></li>
        </ul>
      <% end %>
  </div>
<% end %>

</div>
</div>
