<div class="row">
  <div class="large-12 centered-columns panel">
    <h1 class="text-center" id="announcement">Announcements</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 centered-columns panel">
    <% @announcements.each do |announcement| %>
      <ul>
        <li><h2 class="text-center"><%= announcement.post %></h2></li>
        <li><h4 class="text-center"><%= announcement.user.user_name %></h4></li>
        <li><h5 class="text-center"><%= announcement.created_at.strftime("%b %e, %l:%M %p") %></h5></li>
        <% unless current_user.blank? %>
          <% if current_user.id == announcement.user.id %>
        <div class="row">
          <div style="float:right;">
            <%= button_to "Edit post", edit_admin_message_path(announcement.id), :method => :get, class: 'btn-style' %>
          </div>
          <div style="float:right;">
            <%= button_to "Delete post", edit_admin_message_path(announcement.id), :method => :get, class: 'btn-style' %>
          </div>
        </div>
          <% end %>
        <% end %>
      </ul>
    <% end %>
      <% unless current_user.blank? %>
        <% if current_user.admin? %>
          <h5 class="text-center"><a href="<%= new_admin_message_path %>">Make a new announcement </a>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-9 columns panel.radius">
    <h2>Conversations</h2>
    <div style="float:left;">
      <%= button_to "Start a new conversation", new_conversation_path, :method => :get, class: 'btn-style' %>
    </div>
    <div style="clear:both;">
    </div>
      <% @conversations.each do |conversation| %>
        <ul>
          <li class="post"><%= link_to conversation.title, conversation_path(conversation) %></li>
          <% if !conversation.messages.empty? %>
            <li><%= conversation.messages.first.post %>
            <li><%= conversation.messages.first.user.user_name %></li>
            <li><%= conversation.messages.first.created_at.strftime("%b %e, %l:%M %p") %></li>
          <% else %>
          <i>No one is chatting....yet</i>
        <% end %>
      </ul>
    <% end %>
  </div>


  <div class="small-3 columns panel">
    <% unless @parents.empty? %>
      <h3>Popular posts</h3>
        <% @parents.each do |parent| %>
        <% replies = parent.replies.count %>
            <ul>
              <li><a href="<%= conversation_path(parent.conversation_id) %>"><%= parent.post %> (<%= parent.replies.count %>)</a></li>
            </ul>
          <% end %>
        <% end %>
  </div>

  <div class="small-3 columns panel">
    <% unless @hashtags.empty? %>
      <h3>Tagged posts</h3>
        <% @hashtags.each do |h| %>
          <ul>
            <li><a href="<%= hashtag_path(h.id) %>"><%= h.hashtag_keyword %></a></li>
          </ul>
        <% end %>
    <% end %>
  </div>
</div>
