<% @conversations.each do |conversation| %>
<ul>
<li><%= link_to conversation.title, conversation_path(conversation) %></a></li>
  <% if !conversation.messages.empty? %>
    <li><%= conversation.messages.first.post %></li>
    <li><%= conversation.messages.first.user.user_name %></li>
    <li><%= conversation.messages.first.created_at %></li>
  <% end %>
</ul>
<% end %>

<a href="<%= new_conversation_path %>">Start a new conversation </a>
