<h1>Announcements</h1>
<% @announcements.each do |announcement| %>
<ul>
  <li><%= announcement.post %></li>
  <li><%= announcement.user.user_name %></li>
</ul>
<% end %>

<h2>Conversations</h2>
<% @conversations.each do |conversation| %>
<ul>
  <li><%= link_to conversation.title, conversation_path(conversation) %></a></li>
  <% if !conversation.messages.empty? %>
    <li><%= conversation.messages.first.post %>
    <li><%= conversation.messages.first.user.user_name %></li>
    <li><%= conversation.messages.first.created_at %></li>
    <% else %>
    <i>No one is chatting....yet</i>
  <% end %>
</ul>
<% end %>

<div>
<a href="<%= new_conversation_path %>">Start a new conversation </a>
</div>

<div>
<% unless current_user.blank? %>
  <% if current_user.admin? %>
    <a href="<%= new_admin_message_path %>">Make a new announcement </a>
  <% end %>
<% end %>
</div>

<% unless @messages.blank? %>
<h2>What are people talking about?</h2>
  <div>
    <% message1 = @messages.find(@replies[0][0]) %>
    <ul>
      <li><a href="<%= conversation_path(message1.conversation_id) %>"%><%= message1.post %></a></li>
      <li> Number of replies: <%= @replies[0][1] %></li>
    </ul>
  </div>

  <div>
    <% message2 = @messages.find(@replies[1][0]) %>
    <ul>
      <li><a href="<%= conversation_path(message2.conversation_id) %>"%><%= message2.post %></a></li>
      <li> Number of replies: <%= @replies[1][1] %></li>
    </ul>
  </div>

  <div>
    <% message3 = @messages.find(@replies[2][0]) %>
    <ul>
      <li><a href="<%= conversation_path(message3.conversation_id) %>"%><%= message3.post %></a></li>
      <li> Number of replies: <%= @replies[2][1] %></li>
    </ul>
    </div>
  <div>
    <% message4 = @messages.find(@replies[3][0]) %>
    <ul>
      <li><a href="<%= conversation_path(message4.conversation_id) %>"%><%= message4.post %></a></li>
      <li> Number of replies: <%= @replies[3][1] %></li>
    </ul>
  </div>
      <div>

        <% message5 = @messages.find(@replies[4][0]) %>
        <ul>
          <li><a href="<%= conversation_path(message5.conversation_id) %>"%><%= message5.post %></a></li>
          <li> Number of replies: <%= @replies[4][1] %></li>
        </ul>
        </div>

<% end %>
