<div class="row">
  <div class="large-12 centered-columns panel">
    <h1 class="text-center">Announcements</h1>
    <% @announcements.each do |announcement| %>
      <ul>
        <li><h3 class="text-center"><%= announcement.post %></h3></li>
        <li><h4 class="text-center"><%= announcement.user.user_name %></h4></li>
        <li><h5 class="text-center"><%= announcement.created_at.strftime("%b %e, %l:%M %p") %></h5></li>
      </ul>
    <% end %>
      <% unless current_user.blank? %>
        <% if current_user.admin? %>
          <h5 class="text-center"><a href="<%= new_admin_message_path %>">Make a new announcement </a>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-8 columns panel">
    <h2>Conversations</h2>
      <% @conversations.each do |conversation| %>
        <ul>
          <li><%= link_to conversation.title, conversation_path(conversation) %></a></li>
          <% if !conversation.messages.empty? %>
            <li><%= conversation.messages.first.post %>
            <li><%= conversation.messages.first.user.user_name %></li>
            <li><%= conversation.messages.first.created_at.strftime("%b %e, %l:%M %p") %></li>
          <% else %>
          <i>No one is chatting....yet</i>
        <% end %>
      </ul>
    <% end %>
    <a href="<%= new_conversation_path %>">Start a new conversation </a>
  </div>

  <div class="small-4 columns panel">
    <% unless @parents.empty? %>
      <h3>Popular posts</h3>
        <% @parents.each do |parent| %>
        <% if parent.replies.count > 0 %>
            <ul>
              <li><%= parent.replies.count %> replies to <a href="<%= conversation_path(parent.conversation_id) %>"> <%= parent.post %></a></li>
            </ul>
            <% end %>
          <% end %>
        <% end %>
  </div>

  <div class="small-4 columns panel">
    <% unless @hashtags.empty? %>
      <h3>Main topics</h3>
        <% @hashtags.each do |h| %>
          <ul>
            <li><%= h.hashtag_keyword %></li>
          </ul>
        <% end %>
    <% end %>
  </div>
</div>
