<%= form_for (@conversation) do |f| %>

<% if @conversation.errors.any? %>
<div id="error_explanation">
  <h2><%= "#{@conversation.errors.count} error(s) prevented the post from being saved" %></h2>
  <ul>
    <% @conversation.errors.full_messages.each do |conversation| %>
    <li><%= conversation %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-9 columns">
        <f.label>Conversation Title</label>
          <div class="field">
            <%= f.text_field :title, autofocus: true %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="actions">
  <div class="row">
    <div class="small-9 columns">
      <%= f.submit 'Start a conversation', class: 'btn-style' %>
    </div>
  </div>
</div>
<% end %>
