<h1><%= @conversation.title %></h1>

  <% unless current_user.blank? %>
    <% if current_user.id == @conversation.user_id %>
    <div>
      <%= link_to "Change title", edit_conversation_path %>
    </div>
    <div>
      <%= link_to "Delete conversation", edit_conversation_path %>
    </div>
    <% end %>
  <% end %>

<div>
  <% unless @messages.empty? %>
    <% @messages.each do |message| %>
      <h3><%= message.post %></h3>
      <h4><%= message.user.user_name %></h4>
      <h5><%= message.created_at %></h5>
      <%= link_to "Reply to post", new_conversation_message_message_path(message.conversation, message) %>
        <% unless current_user.blank? %>
          <% if current_user.id == message.user.id %>
            <%= link_to "Edit post", edit_conversation_message_path(message.conversation_id, message.id) %>
            <%= link_to "Delete post", edit_conversation_message_path(message.conversation_id, message.id) %>
          <% end %>
        <% end %>
      <% end %>
  <% else %>
    <i>No one is chatting...yet</i>
<% end %>
</div>

<%= link_to "Add a post", new_conversation_message_path(params[:id]) %>
