<% if params[:message_id] != nil %>

<%= form_tag conversation_message_messages_path do %>

<% if @message.errors.any? %>
<div id="error_explanation">
  <h2><%= "#{@message.errors.count} error(s) prevented the post from being saved" %></h2>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= label_tag :post %>
  <%= text_field_tag :post %>
</div>

<div class="field">
  <%= label_tag :announcement %>
  <%= check_box_tag :announcement %>
</div>

<div class="actions">
  <%= submit_tag "Submit" %>
</div>
<% end %>

<% else %>

<%= form_tag conversation_messages_path do %>

<% if @message.errors.any? %>
<div id="error_explanation">
  <h2><%= "#{@message.errors.count} error(s) prevented the post from being saved" %></h2>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= label_tag :post %>
  <%= text_field_tag :post %>
</div>

<div class="field">
  <%= label_tag :annoucement %>
  <%= check_box_tag :announcement %>
</div>

<div class="actions">
  <%= submit_tag "Submit" %>
</div>
<% end %>
<% end %>
