<div class="row">
    <div class="heading">
    <h1>Hashed Posts</h1>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <h3 class="hashtag"><%= @hashtag.hashtag_keyword %></h3>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <% @hashtag.messages.each do |m| %>
    <ul>
    <li class="hashtag"><h3><a href="<%= conversation_path(m.conversation.id) %>"><%= m.conversation.title %></a></h3></li>
    <li class="hashtag"><%= m.post %></li>
    <li class="hashtag"><%= m.user.user_name %></li>
  </ul>
    <% end %>
  </div>
</div>
